<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link rel='stylesheet' href='./user.css' type='text/css' />
  </head>
  <body>
    <div>
      <span>{{message}}</span>
      <span>demo</span>
    </div>
  </body>
</html>